<ul>
    <li class="dropdown"><a class="active" href="{%url 'home-page'%}">Main Page</a>
  <li class="dropdown"><a class="active" href="">Home</a>
  <div class="dropdown-content">
      <a href="{%url 'register-cost-home'%}">Register bill</a>
      <a href="{%url 'check-cost-home'%}">Check bills</a>
    </div></li>
  <li class="dropdown"><a href="">Energy</a>
  <div class="dropdown-content">
      <a href="{%url 'register-cost-energy'%}">Register bill</a>
      <a href="{%url 'check-cost-energy'%}">Check bills</a>
    </div></li>
  <li class="dropdown"><a href="">Gas</a>
  <div class="dropdown-content">
      <a href="{%url 'register-cost-gas'%}">Register bill</a>
      <a href="{%url 'check-cost-gas'%}">Check bills</a>
    </div></li>
  <li class="dropdown"><a href="">TV</a>
  <div class="dropdown-content">
      <a href="{%url 'register-cost-tv'%}">Register bill</a>
      <a href="{%url 'check-cost-tv'%}">Check bills</a>
    </div></li>
    <li class="dropdown"><a href="">Internet</a>
    <div class="dropdown-content">
      <a href="{%url 'register-cost-internet'%}">Register bill</a>
      <a href="{%url 'check-cost-internet'%}">Check bills</a>
    </div></li>

</ul>