
table.blueTable {
  border: 2px solid #071C2A;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  display:block;
  overflow-x: auto;
  margin-top:20px;
  height: 500px;
  overflow-y: scroll;
}

table.blueTable td, table.blueTable th {
  padding: 3px 10px;
}

table.blueTable tbody td {
  font-size: 13px;
}

table.blueTable thead {
  background: #39475D;
  background: -moz-linear-gradient(top, #6a7585 0%, #4c596d 66%, #39475D 100%);
  background: -webkit-linear-gradient(top, #6a7585 0%, #4c596d 66%, #39475D 100%);
  background: linear-gradient(to bottom, #6a7585 0%, #4c596d 66%, #39475D 100%);
  border-bottom: 0px solid #444444;
  top: 0px;
  margin: 0;

}


table.blueTable thead tr {
  margin: 0;
  top:0px;

}

table.blueTable thead th {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 0px solid #D0E4F5;
  position: sticky;
  top: 0px;
  background: #39475D;
  background: -moz-linear-gradient(top, #6a7585 0%, #4c596d 66%, #39475D 100%);
  background: -webkit-linear-gradient(top, #6a7585 0%, #4c596d 66%, #39475D 100%);
  background: linear-gradient(to bottom, #6a7585 0%, #4c596d 66%, #39475D 100%);
}

table.blueTable thead th:first-child {
  border-left: none;
  top: 0px;
}


table.blueTable tbody tr {
outline: thin solid;
}

table.blueTable tbody tr:hover {
cursor:pointer;
background-color:#FF4E5E !important;
}


#topBtn {
  display: block;
  position: fixed;
  bottom: 90px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #3483eb;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#topBtn:hover {
  background-color: #555;
}

#midBtn{
  display: block;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #3483eb;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#midBtn:hover {
  background-color: #555;
}

#endBtn{
  display: block;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #3483eb;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#endBtn:hover {
  background-color: #555;
}