#formsetting{
margin:20px;
}

#formsetting p:nth-child(even) {
display: none;
}

#id_image_set-0-image{
background:color:blue;
color:white;
}

#id_image_set-1-image{
background:color:blue;
color:white;
}

#id_image_set-2-image{
background:color:blue;
color:white;
}

#id_image_set-3-image{
background:color:blue;
color:white;
}

#id_image_set-4-image{
background:color:blue;
color:white;
}

#id_image_set-5-image{
background:color:blue;
color:white;
}

#id_image_set-6-image{
background:color:blue;
color:white;
}

#id_image_set-7-image{
background:color:blue;
color:white;
}

label{
display:none;
}
input[type='file']{
display:none;
}

input[type='checkbox']{
display:none;
}

#custom_button_0{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_0:hover{
    background-color: #00b28f;
  }

  #custom_text_0{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  #custom_button_1{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_1:hover{
    background-color: #00b28f;
  }

  #custom_text_1{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }


 #custom_button_2{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_2:hover{
    background-color: #00b28f;
  }

  #custom_text_2{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  #custom_button_3{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_3:hover{
    background-color: #00b28f;
  }

  #custom_text_3{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  #custom_button_4{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_4:hover{
    background-color: #00b28f;
  }

  #custom_text_4{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  #custom_button_5{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_5:hover{
    background-color: #00b28f;
  }

  #custom_text_5{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  #custom_button_6{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_6:hover{
    background-color: #00b28f;
  }

  #custom_text_6{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  #custom_button_7{
    padding: 5px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }

  #custom_button_7:hover{
    background-color: #00b28f;
  }

  #custom_text_7{
    margin-left:10px;
    font-family: sans-serif;
    color: white;
    display:none;
  }

  .container_image_button{
  margin:5px;
  }