{% extends "sheriffy/base.html" %}
{%load static%}
{% block content %}
<div id="filtering" style="color:white;text-align:center;font-size:30px;margin-top:30px;">
    <form method="GET" id="getting">
        <span>Item name </span>{{filter.form.naming}} <span>Zone </span>{{filter.form.zone}}
        <span>City </span> {{filter.form.city_name}} <span>Category </span> {{filter.form.category}}
        <button  id ="searching" type="submit" onclick="myFunction()">Search</button>
    </form>
    <button  id ="clearing" onclick="myClearFunction()">Clear</button>
</div>
{%for offer,photo in looping_qs%}
<div class="item_shared">
    <div class="image_shared"><img id ='item_all_view' src="{{photo.image.url}}"></div>
    <div class="details_shared">
        <a href="{% url 'details' offer.id %}"><h1>{{offer.thing}}</h1></a>
        <div class="place_shared">
    {{offer.time_registered}}
        {{offer.city}}
    {{offer.zone}}
        </div>
</div>
</div>
{%endfor%}


<script src="static/sheriffy/js/search.js?{% now 'U' %}"></script>
{%endblock content%}