{% extends "sheriffy/base.html" %}
{% block content %}
<div class="page-header my-4">
<h2>Czy chcesz usunąć ofertę {{item.thing}}?</h2>
</div>

<form action="" method="POST">

    {%csrf_token%}
    <div class="row">
        <div class="col-lg-6">
    <button class="btn btn-lg col-lg-6 btn-danger" type="submit">Yes</button>
            </div>
        <div class="col-lg-6">
    <a class="btn btn-lg col-lg-6 btn-info" href="{%url 'offers' %}">No</a>
        </div>
    </div>
</form>

{%endblock content%}