/* in css we have to tell the element we want to target

to target id we type #
to target a tag just use the name of the tag
to target classes we type .
*/

body{
background-color:#EEEEEE;
font-family:Helvetica,Arial
}

a{
text-decoration:none;
color:red
}

h1{
margin:0
}

#container{
background-color:white;
width:800px;
margin-left:auto;
margin-right:auto;
}
#header {
    background-color: #66CCFF;
    color: white;
    text-align:center;
    padding:10px
}

#content{
padding:10px 10px 10px 10px;
}

#nav{
width:180px;
float:left
}


#nav ul{
    list-style-type:none;
    padding:0
}


#main{
width:600px;
float:right

}

#footer{
clear:both;
padding: 10px;
background-color:#999999;
color:white;
text-align:right;
padding:10px;
}

selected{
font-weight:bold
}