<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter offer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="text-white bg-dark">
<div class="page-header">
<h2>Fill in form with your offer for requested lane</h2>
    
    <table class="table table-striped table-dark">
  <thead>
    <tr>
        <th>Gross weight</th>
        <th>Volume</th>
        <th>Origin Country</th>
        <th>Origin Port</th>
        <th>Destination Country</th>
        <th>Destination Port</th>
        <th>Week</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>{{my_spot.gross_weight}}</td>
        <td>{{my_spot.volume}}</td>
        <td>{{my_spot.origin_country}}</td>
        <td>{{my_spot.origin_port}}</td>
        <td>{{my_spot.dest_country}}</td>
        <td>{{my_spot.dest_port}}</td>
        <td>{{my_spot.ship_week}}</td>
    </tr>
  </tbody>
</table>

<form action="" method="POST">

    {%csrf_token%}
    <div class="form-group">
<h6>Enter currency</h6>
        {{form.currency}}
    </div>
    <div class="form-group">
    <h6>Enter pickup charge</h6>
        {{form.pickup}}
    </div>
    <div class="form-group">
    <h6>Enter origin customs charge</h6>
        {{form.origin_cust}}
    </div>
    <div class="form-group">
    <h6>Enter origin port handling charge</h6>
        {{form.origin_hand}}
    </div>
    <div class="form-group">
    <h6>Enter airfreight charge</h6>
        {{form.airfreight}}
    </div>
    <div class="form-group">
    <h6>Enter destination customs charge</h6>
        {{form.dest_cust}}
    </div>
    <div class="form-group">
    <h6>Enter destination handling charge</h6>
        {{form.dest_hand}}
    </div>
    <div class="form-group">
       <h6>Enter delivery charge</h6>
        {{form.delivery}}
    </div>
    <div class="form-group">
       <h6>Enter screening charge</h6>
        {{form.screening}}
    </div>
    <div class="form-group">
       <h6>Enter dangerous goods charge</h6>
        {{form.dgfee}}
    </div>
    <div>
  <input type="submit" class="btn btn-info" name="Submit">
    </div>
</form>

</body>
</html>