body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* formatting table */

table.blueTable {
  color: black;
}

table.blueTable th,
td,
tr {
  border: 1px solid black;
}

/* formatting header */
.my-header {
  display: flex;
  justify-content: center;
}

/* formatting table with statuses */
.main-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.update-status {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 5px;
  border: 2px solid whitesmoke;
}

/* formatting navbar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: red;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-links li {
  color: white;
  font-weight: bold;
  transition: color 0.5s ease;
}

.nav-links li:hover {
  color: blue;
}

.format-link {
  font-size: 20px;
  text-decoration: none;
}

/* formatting grid for graphs */
.ChartsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px 500px;
}

/* formatting header for graphs */

.additional-header {
  text-align: center;
}

/* formatting container for images */
.image-instruction {
  width: 70%;
  height: 300px;
  overflow: hidden;
}

.image-instruction img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explanation {
  border: 3px solid whitesmoke;
  padding: 10px;
  margin: 20px auto;
}

.explanation h3 {
  text-align: center;
}

/* Formatting history chart */
.ChartsFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
